[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
	ignore = dirty
	shallow = true
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
	ignore = dirty
	shallow = true
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
	ignore = dirty
	shallow = true
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
	ignore = dirty
	shallow = true
[submodule "libs/nativefiledialog"]
	path = libs/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
	ignore = dirty
	shallow = true
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
	shallow = true
[submodule "libs/imgui-filebrowser"]
	path = libs/imgui-filebrowser
	url = https://github.com/jackeri/imgui-filebrowser.git
	ignore = dirty
	shallow = true
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = dirty
	shallow = true
[submodule "libs/tinygltf"]
	path = libs/tinygltf
	url = https://github.com/syoyo/tinygltf.git
	ignore = dirty
	shallow = true
